.playlist__row-wrapper {
  &:nth-child(even) .playlist__row {
    background-color: white;
  }

  &:nth-child(odd) .playlist__row {
    background-color: #f9f9f9;
  }

  &:hover .playlist__row {
    background-color: #f4f4f4;
  }
}

.playlist__row {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.8fr 0.7fr 0.3fr;
  column-gap: 10px;
  padding: 10px 15px;
  outline: 0;
  color: #003543;

  span {
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
  }

  &--drag {
    box-shadow: 0 -2px 0 green;
  }

  &--playing {
    color: #1ed760;

    &.playlist__row--selected {
      color: #1ed760;
    }
  }

  &--selected {
    background-color: #e6e6e6 !important;
  }
}
