.playlist {
  &__list {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #9c9c9c;
    border-bottom: 1px solid #c2c2c2;
    user-select: none;
  }

  &__wrapper {
    position: relative;
  }

  &__header {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.8fr 0.7fr 0.3fr;
    column-gap: 10px;
    padding: 8px 15px;
    border-bottom: 1px solid #c2c2c2;

    span {
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.8fr 0.7fr 0.3fr;
    column-gap: 10px;
    padding: 10px 15px;
    transition: box-shadow 0.15s ease-in;

    &--drag {
      box-shadow: 0 -2px 0 green;
    }

    &:nth-child(even) {
      background-color: white;
    }

    &:nth-child(odd) {
      background-color: #f4f4f4;
    }

    &:hover {
      background-color: #eee;
    }

    span {
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      pointer-events: none;
    }
  }
}

.dropzone {
  position: relative;

  &__overlay {
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 4px dashed #21a715;
    border-radius: 8px;
    opacity: 0.8;
    z-index: 3;

    span {
      color: #21a715;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
